body {
    background-color: #faebd7;
}

header {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 25px;
    text-align: center;
    text-shadow: #000000;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    font-display: swap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.2s, text-shadow 0.2s;
}

a:hover {
    color: rgba(2, 2, 2, 0.801);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

img.fundo {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

.container h1 {
    text-align: center;
    font-size: 150px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    color: #000000;
    strong {
        color: #5a4634;
    }

}

.container p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1;
    font-size: 23px;
    line-height: 1.6;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
    ;
}

.linha {
    width: 32%;
    ;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    margin-top: -30px;
}

.linha2 {
    width: 46%;
    ;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    margin-top: -10px;
}

.container {
    text-align: center;
}

p2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.6;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);

}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.6;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    margin-bottom: 20px;
}

img.js-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.js-img:hover {
    transform: scale(1.1);
}

img.css-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.css-img:hover {
    transform: scale(1.1);
}

img.html-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.html-img:hover {
    transform: scale(1.1);
}

.img-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

img.vscode-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.vscode-img:hover {
    transform: scale(1.1);
}

img.github-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.github-img:hover {
    transform: scale(1.1);
}

img.git-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.git-img:hover {
    transform: scale(1.1);
}

img.vercel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

img.vercel-img:hover {
    transform: scale(1.1);
}

div.tools-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}

footer {
    background-color: rgba(243, 231, 231, 0);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    margin-top: 50px;
}

p.hobbies {
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
}