body{
    background-color: #faebd7;
}
header{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 25px;
    text-align: center;
    text-shadow: #000000;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
nav a {
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    font-display: swap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.2s, text-shadow 0.2s;
}

a:hover {
    color: rgba(2, 2, 2, 0.801);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

img{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
h1 {
    text-align: center;
    font-size: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color:#000000;
;

}