body {
    background-color: #faebd7;
}

header {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 25px;
    text-align: center;
    text-shadow: #000000;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    font-display: swap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.2s, text-shadow 0.2s;
}

a:hover {
    color: rgba(2, 2, 2, 0.801);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

img {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

.linha {
    width: 32%;
    ;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    margin-top: -30px;
}

h1 {
    text-align: center;
    font-size: 150px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);

    strong {
        color: #5a4634;
    }
}

footer {
    background-color: rgba(243, 231, 231, 0);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    margin-top: 152px;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:48px;
    line-height: 1.6;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.2);
    margin-top: 220px;
    margin-bottom: 20px;
}
